.button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #333333;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #333333;
  color: blue;
  text-decoration: none;
}